header {
	background: url('../images/background.png');
	box-shadow: 0 -2px 9px 0 rgba(0,0,0,0.5) inset;
	padding: 	0 100px;
	position: 	fixed;
	width: 		100%;
	z-index: 	1;
	top: 		0;

	.navbar-default{
		border: 	none;
		background: transparent;
	}
	.navbar{
		margin: 	0;

		.navbar-toggle{
			margin-top: 	40px;
		}
	}
	.logo {
		margin: 	10px 0;
		@include text-hide;
		background: url(../images/logo-header.png) no-repeat;
		display: 	inline-block;
		height: 	100px;
		width: 		156px;
	}
	.nav {
		li {
			display: 	inline-block;
			margin: 	25px 10px;

			@media (max-width: $screen-md-min){
					margin: 25px 2px;
			}
			
			a {
				color: 			black;
				text-transform: uppercase;
				padding: 		20px 8px;
				&:hover {
					background-color: 	transparent;
					color: 				$show-red;
				}

				@media (max-width: $screen-md-min){
					padding: 	20px 2px;
					font-size: 	12px;
				}

				@media (max-width: $screen-sm-min){
					padding: 	8px 2px;
					font-size: 	12px;
				}
			}
			&.active a { 
				color: $show-red; 
			}

			@media (max-width: $screen-sm-min){
				margin: 	5px;
				width: 		45%;
				text-align: center;
			}
		}
	}
}
footer {
	background-color: 	$show-black;
	padding: 			20px 100px;
	.logo {
		background: url('../images/logo-footer.png') no-repeat;
		display: 	inline-block;
		height: 	66px;
		width: 		101px;
	}
	.rights {
		color: 			white;
		font-size: 		11px;
		line-height: 	65px;
	}
}
.main {
	margin-top: 120px;
}

.main-cover{
	width: 		804px;
	margin: 	0 auto;
	background: rgba(0,0,0,.5);
	padding: 	60px 42px;
	position: 	relative;

	@media (max-width: $screen-sm-min){
		width: 		100%;
	}
}