// Colors
$show-red: 			#be0000;
$show-gray: 		#7c7c7c;
$show-gray-light: 	#9a9a9a;
$show-aqua: 		#1eb2af;
$show-orange: 		#ff6000;
$show-yellow: 		#ffc600;
$show-blue: 		#0882f6;
$show-purple: 		#b058fa;
$show-gray: 		#7c7c7c;
$show-black: 		#323232;

// Fonts
$regular : 	'dolce_vitaquite_regular';
$light : 	'dolce_vita_lightsuper_light';
$heavy : 	'dolce_vita_heavyfewXpounds';

