body.contact {
	.main { 
		background-color: 	$show-red;
		color: 				$show-gray;
	}
	.sidebar {
		background-color: 	$show-red;
		display: 			inline-block;
		padding-right: 		50px;
		text-align: 		right;
		vertical-align: 	top;
		width: 				25%;
		h3 {
			color: 			white;
			margin-top: 	350px;
			text-transform: uppercase;
			text-shadow: 	1px 1px 2px rgba(0,0,0,0.5);
		}
	}
	.content {
		background: 	url('../images/background.png');
		display: 		inline-block;
		padding: 		0 80px;
		vertical-align: top;
		width: 			75%;
		.icons {
			background-color: 	#7b7b7b;
			padding: 			10px 10px 5px;
			margin-bottom: 		10px;
			a {
				background: url('../images/social-contact.png') no-repeat;
				display: 	inline-block;
				height: 	33px;
				width: 		35px;
				&.fb, &.tw { margin-right: 5px; }
				&.tw { background-position: -47px; }
				&.yt { background-position: -94px; }
			}
		}
		h2 {
			clear: 			both;
			font-family: 	$light;
			font-family: 	40px;
			margin-top: 	10px;
			text-transform: uppercase;
		}
		hr{
			border-top: 1px solid $show-red;
			margin-top: 0;
		}
		form {
			.form-group {
				label, input[type="text"], input[type="email"] { display: block; }
				label {
					font-weight: 	400;
					margin-bottom: 	0;
					text-transform: uppercase;
				}
				input[type="text"], input[type="email"], textarea {
					border-radius: 	3px;
					border: 		1px solid #ccc;
					box-shadow: 	0 1px 1px rgba(0,0,0,0.2) inset;
					width: 			90%;
				}
				input[type="text"], input[type="email"] { height: 30px; }
				textarea { height: 130px; }
			}
			.check-group {
				label {
					font-size: 		12px;
					font-weight: 	400;
				}
			}
			.progress-button {
				background-color: 	#2a9c02;
				border-radius: 		5px;
				border: 			none;
				box-shadow: 		1px 1px 2px rgba(0,0,0,0.5);
				color: 				white;
				font-size: 			18px;
				padding: 			10px 20px;
			}
			.advice { 
				color: 		red;
				display: 	block;
				font-size: 	11px;
				margin-top: 10px;
			}
		}
		.phones {
			background: url('../images/phone.png') !important;
			display: 	block;
			height: 	331px;
			margin: 	15px auto 0;
			width: 		332px;
		}
		.bottom {
			text-align: center;
			h3 {
				border-bottom: 	2px solid $show-red;
				color: 			$show-red;
				display: 		inline-block;
				font-size: 		40px;
				font-weight: 	400;
				letter-spacing: 3px;
			}
		}
		#map {
			display: 	block;
			height: 	200px;
			width: 		100%;
		}
	}
}