body.home{
	margin: 	0;
	overflow: 	hidden;
	transition: opacity 400ms;
}

body.home{
	.wrapper-content {
		width: 100%;
		height: 100%;
		display: block;
	}
	.fp-tableCell{
        vertical-align: top;
        padding-top:    76px;
	}
	.section{
		animation: fadein 2s;

		@media (min-width: $screen-md-min){
			padding-bottom: 120px;
		}
		
		.bg-section{
			background-repeat: no-repeat;
			width: 		100%;
			height: 	71%;
			display: 	table;

			.middle-container{
				display: 		table-cell;
				vertical-align: middle;

				.main-cover{
					transition: background .8s ease-in-out;

					h1, h2, span.place{
						text-shadow: 2px 3px 0px #000;
					}
					h1{
						text-transform: uppercase;
						font-size: 3.5em;
						line-height: .8;
						margin-bottom: 0;
						font-weight: bolder;
						color: white;
					}
					h2{
						text-transform: lowercase;
						margin: 0;
						font-size: 4.5em;
						font-weight: 300;
					}
					span.place{
						display: block;
						color: white;
						font-size: 2.5em;
						text-transform: uppercase;
						font-weight: 500;
						margin-top: 10px;
					}

					&:hover{
						background: rgba(0,0,0,0.7);
						text-decoration: none; 
					}
				}
			}
		}

		.title{
			width: 		100%;
			min-height: 78px;
			text-align: center;

			h3{
				margin: 		0;
				line-height: 	2em;
				text-transform: uppercase;
				font-family: 	$light;
				font-size: 		2.8em;
				color: 			$show-gray-light;
			}
		}
		.cook{
			background: 		url('../images/sections/cook.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-orange;
			border-bottom: 		8px solid $show-orange;

			h2{
				color: $show-orange;
			}
		}
		.bath{
			background: 		url('../images/sections/bath.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-aqua;
			border-bottom: 		8px solid $show-aqua;

			h2{
				color: $show-aqua;
			}
		}
		.rooms{
			background: 		url('../images/sections/rooms.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-yellow;
			border-bottom: 		8px solid $show-yellow;

			h2{
				color: $show-yellow;
			}
		}
		.studio{
			background: 		url('../images/sections/studio.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-blue;
			border-bottom: 		8px solid $show-blue;

			h2{
				color: $show-blue;
			}
		}
		.dining{
			background: 		url('../images/sections/dining.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-purple;
			border-bottom: 		8px solid $show-purple;

			h2{
				color: $show-purple;
			}
		}
		.contact{
			background: 		url('../images/sections/contact.jpg');
			background-size: 	cover;
			border-top:  		8px solid $show-red;
			border-bottom: 		8px solid $show-red;

			h2{
				color: $show-red;
			}
		}
	}


}